<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1059053761816-cu8uv0tsfrt7i3tdep77nqo64a66c2p5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1059053761816-cu8uv0tsfrt7i3tdep77nqo64a66c2p5</string>
	<key>API_KEY</key>
	<string>AIzaSyBnOw5qlSfUxq6ek5UeN1Lr2ewHn8BTEUA</string>
	<key>GCM_SENDER_ID</key>
	<string>1059053761816</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.ionic.cs.pushnotifications</string>
	<key>PROJECT_ID</key>
	<string>cs-ionic-app</string>
	<key>STORAGE_BUCKET</key>
	<string>cs-ionic-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1059053761816:ios:80eb5fe663e6e3f9c6da6d</string>
</dict>
</plist>